  <div class="conteneur">
    <div class="title">
      <app-messagerie></app-messagerie>
    </div>
    <div class="content_all">
      <div class="content_left">
        <app-personnes-actives></app-personnes-actives>
      </div>
      <div class="content_right">
        <div class="content_right_top">
         <app-messages-ecrits></app-messages-ecrits>
        </div>
      <div class="content_right_bottom">
        <app-nouveau-message></app-nouveau-message>
      </div>
    </div>
  </div>

